{% if page.meta_title %}
  {% capture title %}{{ page.meta_title }}{% endcapture %}
{% else %}
  {% capture title %}{{ page.title }} &bull; {{ site.title }}{% endcapture %}
{% endif %}
{% if page.meta_description %}
  {% assign description = page.meta_description %}
{% elsif page.excerpt %}
  {% assign description = page.excerpt %}
{% elsif page.content contains site.excerpt_separator %}
  {% assign description = page.content | split:site.excerpt_separator | first | strip_html %}
{% else %}
  {% assign description = page.content | split:'</p>' | first | strip_html | truncatewords: 20 | xml_escape %}
{% endif %}
{% assign image = page.image %}
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{{ title }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="description" content="{{ description }}" />

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endbuild -->

  <script src="//use.typekit.net/lcc7fhj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
</head>
